#body_wrap{
   width: 1000px;
   margin: 0px auto;
   background-color: white;
}
#body_header{
   width: 900px;
   margin: 0px auto;
   text-align: center;
}
#body_blank{
   width: 1000px;
   height: 30px;
   margin: 0px auto;
}
#body_img{
   width: 900px;
   margin: 0px auto;
   text-align: center;
}